image: python:3.11-slim

stages:
  - lint
  - test

lint:
  stage: lint
  script:
    - pip install flake8
    - flake8 .

api_tests:
  script:
    - pytest tests/api -n auto

ui_tests:
  stage: test
  script:
    - pip install -r requirements.txt
    - pytest tests/ui -n 0
  artifacts:
    when: always
    paths:
      - reports/allure-results
