image: python:3.11-slim

stages:
  - lint
  - test

lint:
  stage: lint
  script:
    - pip install flake8
    - flake8 .

ui_tests:
  stage: test
  script:
    - pip install -r requirements.txt
    - pytest tests/ui --alluredir=allure-results
  artifacts:
    when: always
    paths:
      - allure-results
